__pycache__/
!.env.example
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!docs/
!docs/**
!docs/sample.quiht.zip
!example/demo.quiht.zip
.cache
.cache/
.coverage
.coverage.*
.docusaurus
.DS_Store
.dynamodb/
.eggs/
.env
.env.*
.eslintcache
.firebase/
.fusebox/
.grunt
.lock-wscript
.mypy_cache/
.next
.node_repl_history
.nox/
.npm
.nuxt
.nyc_output
.output
.parcel-cache
.pnp.*
.pnpm-store
.pytest_cache/
.python-version
.ruff_cache/
.serverless/
.stylelintcache
.svelte-kit/
.temp
.tern-port
.tox/
.venv/
.vite/
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/*
*.egg
*.egg-info/
*.lcov
*.log
*.pid
*.pid.lock
*.py[cod]
*.quiht.zip
*.seed
*.tgz
*.tsbuildinfo
*.whl
**/.vitepress/cache
**/.vitepress/dist
*$py.class
bower_components
build/
build/Release
coverage
dist
dist/
env/
htmlcov/
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log*
out
pids
private/
quiht-demo/public/sample.quiht.zip
quiht-l10n-vu/public/example/
quiht-tools/src/quiht_tools/__version__.py
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
ruvector.db
sdist/
venv/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
web_modules/
wheels/
yarn-debug.log*
yarn-error.log*
/issues
